.component {
  font-size: 0.8rem;
  color: white;

  display: grid;
  grid-template-columns: 1fr;
}

.component.offset {
  grid-template-columns: 16px 1fr;
}

.component.offset > * {
  grid-column: 2/3;
}
