.component {
  /* card part layout */
  display: grid;
  /* width should be given by the parent (likey grid/flex) */
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 8px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;

  border: solid 1px #cacaca;
}

.text {
  color: black;
  font-size: 0.9rem;

  /* align left */
  justify-self: start;
}
