.component {
  /* Cancel the default <a> decoration */
  text-decoration: none;
  color: inherit;

  /* icon-beside-text layout */
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
  column-gap: 8px;

  /* item size */
  font-size: 1.2rem;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.text {
  color: black;
  font-weight: 700;
  font-size: 0.9rem;
}

.image {
  width: 50px;
  height: 40px;
  border-radius: 4px;

  object-fit: fill;
}

.component:hover {
  background-color: #d3d3d3;
}
