.component {
  /* cancel default popover settings */
  border-style: none;

  /* anchor position settings */
  /* position: absolute; /* this is not necessary if you use popover in combo with anchor */
  /* position-anchor: --anchor-*********; /* this should be supplied by the style attribute instead */
  position-area: bottom span-right;
  /* popover element has weird large margins  */
  margin: 0;
  padding: 0;
}
